<!doctype html>
<html lang="en">
<head>
    {% block head %}
        <a href="/">
            <i class="fa fa-home" aria-hidden="true"></i>
        </a>
        <title>DLCask</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- css -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-slate.css') }}/" />
        <style>
            /* prevent body from hiding under the navbar */
            body {
                padding-top: 50px;
            }
        </style>

    {% endblock head %}
</head>
<body>
    {% block content %}
    
    {% endblock %}

    <!-- js -->
    <script src="{{ url_for('static', filename='node_modules/jquery/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/popper.js/popper.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/bootstrap/bootstrap.min.js') }}"></script>
</body>
</html>