{% extends "base.html" %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="/">DLCask</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
    <h2 class="lead">Projects</h2>
    <h3>Overview</h3>
    </div>


    {% for project in projects %}
        <div class="container">

            <a href="/{{ project.title }}">
                <h4>{{ project.title }}</h4>
            </a>

            {% if project.batch_data|length == 1 %}

                <div class="row border-primary">

                    <div class="col lead">
                        <p>Digitized: {{ project.batch_data.digi_perc }}%</p>
                    </div>
                    <div class="col lead">
                        <p>QC: {{ project.batch_data.qc_perc }}%</p>
                    </div>
                    <div class="col lead">
                        <p>Ready Queue: {{ project.batch_data.ready_perc }}%</p>
                    </div>
                    <div class="col lead">
                        <p>Metadata: {{ project.batch_data.md_perc }}%</p>
                    </div>

                 </div>

            {% else %}

                {% for data in project.batch_data %}

                    <div class="row border-primary">

                        <div class="col lead">
                            <p>Digitized: {{ data.digi_perc }}%</p>
                        </div>
                        <div class="col lead">
                            <p>QC: {{ data.qc_perc }}%</p>
                        </div>
                        <div class="col lead">
                            <p>Ready Queue: {{ data.ready_perc }}%</p>
                        </div>
                        <div class="col lead">
                            <p>Metadata: {{ data.md_perc }}%</p>
                        </div>

                     </div>

                {% endfor %}

            {% endif %}
        </div>

        {% endfor %}


{% endblock %}