{% extends "base.html" %}
{% block content %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="/">DLCask</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
        <h2 class="lead">{{ project.title }}</h2>

        <div class="card text-white bg-primary mb-3" style="max-width: 70rem;">
          <div class="card-header">Scope</div>
          <div class="card-body">
            <p class="card-text">{{ project.wkbk['values'][0][0] }}</p>
          </div>
        </div>
    </div>

    <div class="container">
        <h3>Important Dates</h3>

        <table class="table table-hover">
            <tr>
                <th scope="col">{{ project.wkbk['values'][3][0] }}</th>
                <th scope="col">{{ project.wkbk['values'][3][1] }}</th>
                <th scope="col">{{ project.wkbk['values'][3][2] }}</th>
            </tr>
        {% for row in project.wkbk['values'][4:] %}
            <tr>

                {% for item in row %}
                <td>{{ item }}</td>
                {% endfor %}

            </tr>
        {% endfor %}}
        </table>
    </div>
{% endblock %}