{% extends "base.html" %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">DLCask</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            {% for batch in project.batches %}
            <li class="nav-item">
                <a class="nav-link" href="#{{ batch.num }}">Batch {{ batch.num }}</a>
            </li>
            {% endfor %}
            <!-- <li class="nav-item">
                <a class="nav-link" href="#dates">Timeline</a>
            </li> -->
        </ul>
    </div>
</nav>
<div class="jumbotron">
    <div class="container">
        <h3>{{ project.title }}</h3>

        <div class="card text-white bg-primary mb-3" style="max-width: 70rem;">
            <div class="card-header">Scope</div>
            <div class="card-body">
                <p class="card-text">{{ project.scope }}</p>
            </div>
        </div>
    </div>

    <div class="container">
        <h3>Batches</h3>

        {% for batch in project.batches %}
        <div id="{{ batch.num }}">
        <h4>{{ project.title }} batch #{{ batch.num }}</h4>

        {# Block for digitization progress #}
        {% if batch.dg < 49 %}
        <p><strong>Digitized:</strong> <span class="text-warning">{{ '{0:.0f}%'.format(batch.dg) }}</span></p>
        <div class="progress">
            <div class="progress-bar bg-warning" role="progressbar" style="width: {{ '{0:.0f}%'.format(batch.dg) }}"
                 aria-valuenow="{{ '{0:.0f}'.format(batch.dg) }}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        {% elif batch.dg < 99 %}
        <p><strong>Digitized:</strong> <span class="text-info">{{ '{0:.0f}%'.format(batch.dg) }}</span></p>
        <div class="progress">
            <div class="progress-bar bg-info" role="progressbar" style="width: {{ '{0:.0f}%'.format(batch.dg) }}"
                 aria-valuenow="{{ '{0:.0f}'.format(batch.dg) }}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        {% else %}
        <p><strong>Digitized:</strong> <span class="text-success">{{ '{0:.0f}%'.format(batch.dg) }}</span></p>
        <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: {{ '{0:.0f}%'.format(batch.dg) }}"
                 aria-valuenow="{{ '{0:.0f}'.format(batch.dg) }}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        {% endif %}

        {# Block for metadata progress #}
        {% if batch.md < 49 %}
        <p><strong>Metadata:</strong> <span class="text-warning">{{ '{0:.0f}%'.format(batch.md) }}</span></p>
        <div class="progress">
            <div class="progress-bar bg-warning" role="progressbar" style="width: {{ '{0:.0f}%'.format(batch.md) }}"
                 aria-valuenow="{{ '{0:.0f}'.format(batch.md) }}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        {% elif batch.md < 99 %}
        <p><strong>Metadata:</strong> <span class="text-info">{{ '{0:.0f}%'.format(batch.md) }}</span></p>
        <div class="progress">
            <div class="progress-bar bg-info" role="progressbar" style="width: {{ '{0:.0f}%'.format(batch.md) }}"
                 aria-valuenow="{{ '{0:.0f}'.format(batch.md) }}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        {% else %}
        <p><strong>Metadata:</strong> <span class="text-success">{{ '{0:.0f}%'.format(batch.md) }}</span></p>
        <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: {{ '{0:.0f}%'.format(batch.md) }}"
                 aria-valuenow="{{ '{0:.0f}'.format(batch.md) }}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        {% endif %}
        </div>
        <hr/>
        {% endfor %}


    </div>
</div>
<div class="container-fluid">
    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#dates" aria-expanded="false" aria-controls="dates">Important Dates
        <span></span>
    </button>
    <div id="dates" class="collapse">

        <table class="table table-hover">
            <tr>
                <th scope="col">{{ project.dates[0][0] }}</th>
                <th scope="col">{{ project.dates[0][1] }}</th>
                <th scope="col">{{ project.dates[0][2] }}</th>
            </tr>
            {% for row in project.dates[1:] %}
            <tr>

                {% for item in row %}
                <td>{{ item }}</td>
                {% endfor %}

            </tr>
            {% endfor %}
        </table>
        </div>
    </div>
    {% endblock %}